<!DOCTYPE html>
<html>
  <head>
    <title>Rorcap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<h1>Env :</h1>
  <h2><%= ENV["test_env"]%></h2>
  <body>
    <%= yield %>
  </body>
</html>
